<div class="questionary">
    <div class="container-fluid">
        <h1>Анкета</h1>
    </div>
    <form class="form-horizontal" name="questionaryForm">
        <div class="form-group">
            <label>
                Value1:
                <input type="checkbox" ng-model="checkboxModel.value1" ng-change="">
            </label><br/>
            <label>
                Value2:
                <input type="checkbox" ng-model="checkboxModel.value2">
            </label>
        </div>
    </form>
</div>