body {
    min-width: 360px;
    font-family: 'Open Sans', Arial, sans-serif;
}

ul {
    list-style: none;
}

.clearfix::after, .clearfix::before {
    content: "";
    display: table;
    clear: both;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
}

.controls {
    position: relative;
}

.control-element {
    float: left;
    margin: 0 10px 0 0;
}

.control-element i {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    font-size: 26px;
}

.questionary h1 {
    text-align: center;
    margin-bottom: 50px;
}

.questionary .form-group {
    text-align: center;
}

.form-subgroup {
    display: inline-block;
    margin: 20px;
}

.questionary ul {
    text-align: left;
}

.questionary-list-title {
    cursor: pointer;
    padding: 0px 20px;
}

.questionary-list-title-text {
    line-height: 2.5em;
}

.questionary-list-title-text:hover {
    text-decoration: underline;
}

.questionary-list-title:hover {
    background-color: #8E8E8E;
}

.questionary-list-title input.form-control {
    float: right;
    width: 60px;
    height: 2em;
    padding: 0 6px 0 8px;
    font-size: 14px;
    margin: 0.2em 0;
}

.questionary-list-wrap {
    padding-left: 35px;
}

.showInnerList > div > ul {
    display: block;
}

.questionary-top-list {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.questionary-inner-list {
    display: none;
    margin-bottom: 0;
    border-top: 1px solid black;
}

.questionary-top-list, .questionary-top-list li {
    background-color: white;
}

.questionary-level-1, .questionary-level-1 li {
    background-color: #F3F3F3;
}

.questionary-level-2, .questionary-level-2 li {
    background-color: #E4E1E1;
}

.questionary-level-3, .questionary-level-3 li {
    background-color: #CECECE;
}

.questionary-level-4, .questionary-level-4 li {
    background-color: #B1B0B0;
}

.questionary-level-bottom, .questionary-level-bottom li {
    background-color: #F3F3F3;
}

.list-group-item {
    padding: 0;
    border: 0;
}

.questionary-list-title .fa {
    width: 11px;
}

.questionary-list-title i.fa.fa-square-o, .questionary-list-title i.fa.fa-check-square,
.questionary-list-title i.fa.fa-check-circle, .questionary-list-title i.fa.fa-circle-o{
    float: right;
    font-size: 17px;
    line-height: 2em;
}

.goal-block {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 270px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    vertical-align: top;
}

.goal-block:hover {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.goal-block-clicked {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: #8AFF98;
}

.goal-block-clicked:hover {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.goal-check-button {
    float: left;
    margin: 20px 10px;
    font-size: 25px;
}

.goal-description {
    position: absolute;
    top: 74px;
    z-index: 10;
    width: 270px;
    display: none;
    background-color: #FDFCFC;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.goal-block:hover .goal-description {
    display: block;
}

.goal-description ul {
    margin: 0;
    padding: 10px 0 10px 35px;
    list-style: initial;
}

.goal-description li {
    line-height: 2em;
}

.goal-title {
    margin: 20px 0;
}

.rules-editor {
    min-width: 100%;
    min-height: 100%;
}

.rules-editor h4 {
    position: relative;
}

.rule-editing-block {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 64px;
    border-radius: 4px;
    padding: 10px;
}

.rule-editing-block:hover {
    border-color: #66afe9;
    outline: 0;
}

#if-sortable-container.checked-if {
    border-color: #009000;
}

#then-sortable-container.checked-then {
    border-color: #009000;
}

.rules-block:last-child {
    margin-top: 20px;
}

.rule-block {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 5px;
    padding: 5px 10px;
    cursor: move;
}

.rule-block:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.rule-block:hover i.fa.fa-times {
    display: block;
}

.operation-rule-block {
    font-weight: bold;
    background-color: #F9F9F9;
}

.operation-word {
    font-weight: bold;
}

.rule-block-handle, .op-block-handle {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#sortable-container {
    display: inline-block;
}

.as-sortable-dragging {
    background: black;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.as-sortable-placeholder {
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.as-sortable-dragging {
    display: none;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    opacity: .8;
    z-index: 9999;
}

.operation-block {
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: white;
}

.operation-block:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.operation-block:focus {
    border: 1px solid #ccc;
    background-color: white;
    outline: none;
}

.active-operation-block, .active-operation-block:focus {
    color: #333;
    background: #d4d4d4 none;
    border-color: #8c8c8c;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

i.delete-rule {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

i.delete-rule:hover {
    color: blue;
}

.rule-block i.fa.fa-times {
    display: none;
    position: absolute;
    top: -10px;
    right: -7px;
    cursor: pointer;
    font-size: 17px;
}

.rule-block i.fa.fa-times:hover {
    color: #D21717;
}

.re-last-row {
    padding: 20px 0;
}

.re-message {
    padding: 10px 20px;
    font-size: 18px;
    float: left;
}

.lc-block {
    cursor: pointer;
}

.re-save {
    float: right;
}